<h1>Listing users</h1>

<table class="modelindex">
  <tr>
    <th>Name</th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td class="actioncolumn"><%= image_for_show user %>
    <%= image_for_edit user %>
    <%= image_for_destroy user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
