<h1>Noticias</h1><br/>

Origen:<%= @rss.channel.title %><br />
<% @rss.items.each do |item|  %>
  <h3><a href='<%=item.link%>'> <%= item.title%><a/></h3>
  <%= l item.date, :format => :short %>  
    <%= truncate(item.description, :length=>500, :omission=>"...") %>
<% end %>
