<h1>Listing orders</h1>

 <%= will_paginate @orders %>


<table>
  <tr>
    <th>User</th>
    <th>Amount</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.user.name %></td>
    <td><%= number_to_currency(order.total_amount) %></td>
    <td><%= link_to link_to I18n.t('model.show'), order %></td>
    <td><%= link_to link_to I18n.t('model.destroy'), order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>
