<h1>Listing deposits</h1>

<%= will_paginate @deposits %>
<br/>
<%= link_to 'New deposit', new_deposit_path %>
<br />
<table>
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Amount</th>
  </tr>

<% @deposits.each do |deposit| %>
  <tr>
    <td><%=h deposit.user.name %></td>
    <td><%=h deposit.description %> </td>
    <td><%= number_to_currency(deposit.amount) %> </td>
  </tr>
<% end %>
</table>


