<div class="depot-form">
  <h1>New deposit</h1>

  <fieldset>
    <% form_for(@deposit) do |f| %>
      <%= f.error_messages %>
      <div>
        <%=f.label :amount %>
        <%=f.text_field :amount %>
      </div>
      <div>
        <%=f.label :description %>
        <%=f.text_field :description %>
      </div>
      <div>
        <%=f.label :user_id %>
        <%= select('deposit', 'user_id', options_for_select(@users, :user)) %>
      </div>
      <div>
        <%= f.submit 'Create' %>
      </div>
    <% end %>
  </fieldset>
</div>
