<div class="depot-form">
<%  form_for(@admin) do |f| %>
<%= f.error_messages %>
<fieldset>
  <legend>Editing administrator</legend>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div>
    <%= f.label :administrator_password, 'Password' %>:
    <%= f.password_field :password, :size => 40 %>
  </div>
  <div>
    <%= f.label :administrator_password_confirmation, 'Confirm' %>:
    <%= f.password_field :password_confirmation, :size => 40 %>
      </div>

      <div>
        <%= f.submit "Edit Administrator" , :class => "submit" %>
      </div>
    </fieldset>
<% end %>
</div>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', administrators_path %>
