<div id="product-list">

 <h1><%= I18n.t('products.list') %></h1>
 <%= link_to I18n.t('products.new'), new_product_path %> <br/>
  <table>
    <% for product in @products %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td>
          <%= image_for(product, :medium) %>
        </td>
        <td class="list-description">
          <dl>
            <dt><%=h product.title %></dt>
            <dd><%=h truncate(product.description.gsub(/<.*?>/,''), :length => 80) %></dd>
          </dl>
        </td>
        <td class="list-actions"
          <%= link_to  I18n.t('model.show'), product %><br/>
          <%= link_to  I18n.t('model.edit'), edit_product_path(product) %><br/>
          <%= link_to  I18n.t('model.destroy'), product, :confirm =>  I18n.t('confirm.are_you_sure'), :method => :delete %><br />
          <%= link_to "Who bought it", :controller => 'info', :action => 'who_bought', :id => product %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />
