<div id="product-list">

 <h1><%= I18n.t('products.list') %></h1>
 <%= link_to I18n.t('products.new'), new_product_path %> <br/>
  <table>
    <% for product in @products %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td>
          <%= image_tag product.image.url(:medium) %>
        </td>
        <td class="list-description">
          <dl>
            <dt><%=h product.title %></dt>
            <dd><%=h truncate(product.description.gsub(/<.*?>/,''), :length => 80) %></dd>
          </dl>
        </td>
        <td class="list-actions"
            <%= image_for_show product %><br/>
            <%= image_for_edit product %><br/>
            <%= image_for_destroy product %><br/>
          <%= link_to "Who bought it", :controller => 'info', :action => 'who_bought', :id => product %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />
