<h2><%= I18n.t('products.list') %></h2>
<%= link_to I18n.t('products.new'), new_product_path %>
<br/>
<% for product in @products %>
<div class="post">
	<p class="meta">
		<span class="date"><%= h product.title %></span><span class="posted">Posted by <a href="#">Someone</a></span>
	</p>
	<div style="clear: both;">
		&nbsp;
	</div>
	<div class="entry">
		<%= h truncate(product.description.gsub(/<.*?>/,''), :length => 80) %>
		<%= image_tag product.image.url(:medium) %>
		<p class="links">
			<a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a>
			<%= image_for_show product %><br/>
			<%= image_for_edit product %><br/>
			<%= image_for_destroy product %><br/>
			<%= link_to "Who bought it", :controller => 'info', :action => 'who_bought', :id => product %>
		</p>
	</div>
</div>
<% end %>
