<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <%= image_for(@product) %>
</p>

<p>
  <b>Sell Price:</b>
  <%=h @product.active_sell_price.value %>
</p>

<p>
  <b>Buy Price:</b>
  <%=h @product.active_buy_price.value %>
</p>

<p>
  <b>Stock:</b>
  <%=h @product.stock %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
